# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Entorno virtual
venv/
.env

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Node
node_modules/

# VS Code / IDEs
.vscode/
.idea/

# Mac / Linux / Windows
.DS_Store
Thumbs.db
